<section id="articles">
    <article class="post">
      <header>
        <h1>Hello there,</h1>
       </header>

      <section class="content">
          <span>Welcome to <a href="https://nbk.dev" target="_blank">NBK's</a> personal blog. I write mainly on coding and such stuffs in this blog. I am currently working as Technical Lead for a German Software Firm. I am a full stack developer, familiar with Angular, PHP, Python, NodeJS and various other technologies. Apart from creating websites, my interests includes building applications for Desktop & Mobile, creating browser extensions and playing with <a href="https://golang.org/" target="_blank">Go</a>. I am a <a href="http://en.wikipedia.org/wiki/Free_and_open_source_software" target="_blank">FLOSS</a> supporter and works mainly on <a href="http://en.wikipedia.org/wiki/Open_source" target="_blank">Open Source</a> technologies and Tools.</span>
<br><br>
<span>You can follow me on <a href="http://twitter.com/nbkdotdev" target="_blank">Twitter</a>, or shoot an email at <a href="">nbk (at) criptext (dot) com</a>.</span>
<br><br>
<a href="http://stackexchange.com/users/187709" style="text-decoration:none">
<img src="//stackexchange.com/users/flair/187709.png?theme=dark" width="208" height="58" alt="profile for NBK on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for NBK on Stack Exchange, a network of free, community-driven Q&amp;A sites">
</a>
<br><br>

<h3>Public Links</h3>
<br>
<p><a href="http://twitter.com/nbkdotdev" target="_blank">http://twitter.com/nbkdotdev</a></p>
<p><a href="http://github.com/nbkdotdev" target="_blank">http://github.com/nbkdotdev</a></p>
<br>
<h3>About this Blog</h3>
<br><br>
<span>
This blog is powered by <a href="https://github.com/cloudhead/toto" target="_blank">Toto</a>, coded in <a href="http://www.ruby-lang.org/en/" target="_blank">Ruby</a> and hosted on <a href="http://heroku.com" target="_blank">Heroku</a>. Toto is a <a href="http://git-scm.com/" target="_blank">git</a> powered, minimalist blog engine for the hackers of Oz. The engine weighs around ~300 sloc at its worse ! This site also uses an modified version of <a href="https://github.com/cloudhead/dorothy" target="_blank">Dorothy</a>, a template for Toto. The commenting system is powered by <a href="https://commento.io/" target="_blank">Commento</a>. The source code with blog posts are timely updated on <a href="https://github.com/nbkdotdev/blog.nbk.dev" target="_blank">Github</a>.</span>
<pre><code>git clone https://github.com/nbkdotdev/blog.nbk.dev.git
</code></pre>
<span> I encourage to use the source (Not the blog posts), but make the necessary changes to stand out.</span>
      </section>

    </article>

</section>
