<article class="post">
  <header>
    <h1><%= title %></h1>
    <span class="date"><%= date %></span>
  </header>

  <section class="content">
    <%= body %>
  </section>

  <section class="comments">
<h3>Your comments</h3>

    <% if @config[:disqus] %>
      <div id="disqus_thread"></div>
      <script type="text/javascript" src="//disqus.com/forums/<%= @config[:disqus] %>/embed.js"> </script>
      <% end %>
  </section>
</article>

