<article class="post">
  <header>
    <h1><%= title %></h1>
    <span class="date"><%= date %></span>
  </header>

  <section class="content">
    <%= body %>
  </section>

  <section class="comments">
<h3>Your comments</h3>

    <% if @config[:commento] %>
      <div id="commento"></div>
      <script src="https://cdn.commento.io/js/commento.js"></script>
      <% end %>
  </section>
</article>

