<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" href="//28.media.tumblr.com/avatar_fe6dca61e6e2_16.png"/>
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= title %></title>
    <style>
      body > header {
        font-family: 'Myriad Pro', Arial, sans-serif;
        text-align: right;
        width: 720px;
        font-size: 18px;
      }
      body > header a {
        color: black;
        border: 0;
      }
      body > header:hover a {
        color: black;
        border-bottom: 1px dotted #bbb; }
      body > header a:hover {
        color: #b83000;
      }
      body > header li {
        display: inline;
        margin: 0 15px;
      }
      body > header ul {
        margin: 0;
        padding: 0;
      }
      body > header > span {
        float: left;
      }
      #feed-icon {
        border: 0;
        margin-right: 5px;
      }
      #feed-icon img {
        margin-top: -5px;
      }
      #home {
        margin: 0;
        padding: 0;
      }
      #home > section {
        min-width: 720px;
        position: absolute;
        margin: 0;
        bottom: 0;
        padding: 0;
        height: 800px;
        width: 960px;
        background: url(/images/cloudhead.png) no-repeat scroll 30px bottom;
      }

      .line-numbers {
        display: none;
      }

      .gist-meta {
        display:none;
      }
    </style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20512758-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
        <header>
	
        <span>
          <a href="https://blog.nikhilben.com" ><img src="https://28.media.tumblr.com/avatar_fe6dca61e6e2_16.png" alt="" style="border:0;vertical-align:middle;padding-bottom:3px"/></a>
          <a href="/">&nbsp;/var/www</a>
        </span>
        <ul>
        <li><a href="/archives/">archives</a></li>
          <li><a href="/about/">about</a></li>
        </ul>

      </header>
    <section>
      <%= yield %>
    </section>
    <footer>
      Copyright &copy; 2011 - 2016 <a href="https://nikhilben.com" target="_blank">Nikhil Ben Kuruvilla</a> | Powered by <a href="https://github.com/cloudhead/toto" target="_blank">toto</a> | Hosted on <a href="http://heroku.com" target="_blank">Heroku</a>
    </footer>
  </body>
</html>

